@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 420px;
  background-color:#F1F1F1;
}

body>*{
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* My stuff starts here */

.product{
  padding-top: 2fr;
}


.navigation{
  position: relative;
  top: 1rem;
}

.navs{
  position: absolute;
  z-index: 1;
}

.nav{
  max-width: 30px;
  max-height: 1rem;
  border: 1px solid white;
  border-radius: 50%;
  background: #FFFFFF70;
}

.details{
  font-family: monsteratt;
}

span{
  font-weight: bold;
}

.price>*{
  display:inline-block;
  padding-right: 10px;
}

.p1{
  color: rgba(0, 0, 0, 0.44); 
}

.deal{
  color:#4BB649;
}

/* all the colors and stuff */

.colors{
  max-width: 400px;
  display: flex;
  justify-content: space-around;
  padding-right: 15%;
}

.sizes{
max-width: 400px;
display: flex;
justify-content: space-around;
padding-right: 15%;

}


.color{
  width: 52px;
  height: 52px;
  border: 1px solid white;
  border-radius: 50%;
}

.color:hover{
  box-shadow: 0 0 10px #666268;
  border: 3px solid white;
}

.c1{
  background: #FF9F69;
}

.c2{
  background: #F387C8;  
}

.c3{
  background: #292D30;
}

.c4{
  background: #522CBF;
}

.c5{
  background: linear-gradient(0deg, #666268, #666268),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
  
  
}

.size{
    width: 52px;
    height: 52px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.size:hover{
  box-shadow: 0 0 10px #666268;
  border: 5px solid white;
}


/* Lower button part */

.bottom{
  display: grid;
 grid-auto-flow: column;
 grid-template-columns: 1fr 1fr 1fr 20px 1fr;
 grid-template-areas: 
 'butt butt butt space like' ;
 padding-bottom: 1rem;
}

.like{
  width: 52px;
  height: 52px;
  border: 1px solid rgb(17, 16, 16);
  border-radius: 50%;
  box-shadow: black;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: like;
  justify-self:center;
}

.buy{
  display: flex;
  flex-grow: 2;
  grid-area: butt;
}


button{
  background: #8C7AE6;
  border: 1px solid white;
  border-radius: 9%;
  color: #FFFFFF;
  flex-grow: 3;
}

